* {
margin: 0;
padding: 0;
}

p {
color: white;
}

header {
position: fixed;
background-color: #03ad00;
top: 0;
right: 0;
left: 0;
height: 60px;
display: flex;
align-items: center;
z-index: 99999999;
}

.headertext {
margin-left: 10px;
}

.headerimg {
border-radius: 100%;
width: 40px;
margin-left: 20px;
box-shadow: 0 0 10px 5px green;
}

body {
background-color: #cdcdcd;
align-items: center;
}

.main {
margin-top: 60px;
margin-left: 20%;
margin-right: 20%;
width: 60%;
height: 100%;
background-color: #03ad00;
box-shadow: 0 0 50px 10px green;
}

.banner {
height: 100%;
position: relative;
}

.bannerimg {
width: 100%;
}

.bannertext {
width: 100%;
font-size: 70px;
position: absolute;
top: 45%;
left: 32%;
animation: bannertext 1s infinite;
}

.bannericon {
position: absolute;
border-radius: 100%;
width: 200px;
top: 39%;
left: 10%;
animation: bannericon 1s infinite;
box-shadow: 0 0 50px 10px #fffb75;
}

@keyframes bannertext {
	0% {
	transform: translate(0,0);
	}

	50% {
	transform: translate(0,-5%);
	}

	100% {
	transform: translate(0,0);
	}
}

@keyframes bannericon {
	0% {
	transform: translate(0,0);
	}

	50% {
	transform: translate(0,-3%);
	}

	100% {
	transform: translate(0,0);
	}
}

marquee {
background-color: #03ad00;
border-bottom: 5px solid #153d00;
margin: 0;
}

.box {
display: flex;
}

.menu {
width: 35%;
}

.menubox {
border: 5px solid #153d00;
border-radius: 15px;
margin: 25px;
width: 300px;
text-align: center;
}

.Hmenuitem {
padding: 15px;
background-color: #153d00; 
}

a {
text-decoration: none;
color: white;
}

.menuitem {
padding: 10px;
border-bottom: 5px solid #153d00;
background-color: #03ad00;
transition: 0.3s all;
}

.menuitem:hover {
background-color: white;
color: black;
}

.menuvidbox {
margin: 20px;
border: 5px solid #153d00;
border-radius: 15px;
width: 320px;
height: 180px;
}

.menuvid {
width: 320px;
height: 180px;
}

.infobox {
width: 65%;
display: grid;
align-items: center;

}

.infotitle {
font-size: 40px;
margin-top: 20px;
margin-bottom: 10px;
text-align: center;
}

.infoimg {
width: 520px;
height: 360px;
overflow: hidden;
align-self: center;
transition: 0.3s all;
}

.infoimg:hover {
transform: scale(1.1);
} 

.infopara {
font-size: 17px;
margin: 20px;
}

.parastart {
font-size: 23px;
}

.buttonhandle {
text-align: center;
display: flex;
align-items: center;
justify-content: center;
}

.button {
display: flex;
margin: 10px;
}

.buttontext {
border: 5px solid #153d00;
border-radius: 15px;
padding: 10px;
transition: 0.3s all;
}

.buttontext:hover {
background-color: white;
color: black;
}

footer {
background-color: #03ad00;
padding: 20px;
text-align: center;
box-shadow: 0 0 50px 10px green;
margin-top: 30px;
}

.Copyright {
font-size: 35px;
}

.infolist {
margin-left: 120px;
font-size: 17px;
color: white;
}

.infolisttitle {
font-size: 24px;
}

.infolisthandle {
display: block;
margin-bottom: 40px;
}

.infoimghandle {
overflow: hidden;
border: 5px solid #153d00;
border-radius: 15px;
width: 520px;
height: 360px;
margin-left: 75px;
}